(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
A.salt,
B.salt,
D.salt,
H.salt,
I.salt,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
k,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
t,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.salt,
e.salt,
g.salt,
y.salt,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
lefttorightmark,
righttoleftmark,
.notdef,
"space-han",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
baht,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
Euro,
cent,
currency,
dollar,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
percent,
perthousand,
dottedCircle,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
commaturnedmod
)